<div class="container">
  <div class="row">
    <div class="col">
        <h1>BLOG HEADER</h1>
     <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta neque veniam natus quas voluptatem deleniti repellat odit. Sequi quos omnis nobis sed harum doloremque nisi delectus. Natus, doloribus tempore?
     </p>
      </div>
    <div class="col">
          <h1>BLOG HEADER</h1>
     <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta neque veniam natus quas voluptatem deleniti repellat odit. Sequi quos omnis nobis sed harum doloremque nisi delectus. Natus, doloribus tempore?
     </p>
      </div>
    <div class="col">
          <h1>BLOG HEADER</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta neque veniam natus quas voluptatem deleniti repellat odit. Sequi quos omnis nobis sed harum doloremque nisi delectus. Natus, doloribus tempore?
    </p>
    </div>

  </div>
</div>