<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Carter123">
</div><div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div><div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="PASSWORD321!">
</div>
  <div>
    <button type="submit">signup</button>
  </div>


  <script src="/public/javascript/login.js"></script>