<form class="login-form">
  <h1>Login</h1>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" >Email address</label>
  <input type="email" class="form-control" class="exampleFormControlInput1" id="email-login" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> Password</label>
  <input type="password" class="form-control" class="exampleFormControlInput1" id="password-login" placeholder="PASSWORD321!">
</div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>


<form class="signup-form">
  <h1> Signup Form </h1>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> Username </label>
  <input type="username" class="form-control" class="exampleFormControlInput1" id="username-signup" placeholder="Carter123">
</div><div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" >Email address</label>
  <input type="email" class="form-control" class="exampleFormControlInput1" id="email-signup" placeholder="name@example.com">
</div><div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="password" class="form-control" class="exampleFormControlInput1" id="password-signup" placeholder="PASSWORD321!">
</div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

  <script src="/javascript/login.js"></script>