<form class="login-form">
  <h1>Login</h1>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" id="email-signup">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div><div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" id="password-signup">Password</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="PASSWORD321!">
</div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>


<form class="signup-form">
  <h1>Signup Form</h1>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label id="username-signup">Username</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Carter123">
</div><div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" id="email-signup">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div><div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"id="password-signup">Password</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="PASSWORD321!">
</div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

  <script src="/javascript/login.js"></script>